package ${repository.group};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;

/**
 * ${repository.title}应用。
 *
 * @author peace
 */
@SpringBootApplication
public class $lh.uc(${repository.name})Application {

    /**
     * 程序启动入口。
     *
     * @param args 应用参数
     */
    public static void main(String[] args) {
        SpringApplication.run($lh.uc(${repository.name})Application.class, args);
    }

}
