package ${module.packageName};

import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;

import javax.validation.constraints.NotNull;
import java.util.List;

/**
 * ${module.dialectName}服务接口。
 *
 * @author peace
 */
public interface ${module.name}Service {

    /**
     * 新增${module.dialectName}。
     *
     * @param params 新增参数
     * @return ${module.dialectName}视图
     */
    ${module.name}VO add(@NotNull ${module.name}Add params);

    /**
     * 分页查询${module.dialectName}。
     *
     * @param params     查询参数
     * @param pageable   分页参数
     * @param projection 投影
     * @return ${module.dialectName}视图分页
     */
    Page<${module.name}VO> queryPage(${module.name}Query params, Pageable pageable, String... projection);

    /**
     * 列表查询${module.dialectName}。
     *
     * @param params     查询参数
     * @param pageable   分页参数
     * @param projection 投影
     * @return ${module.dialectName}视图集合
     */
    List<${module.name}VO> queryList(${module.name}Query params, Pageable pageable, String... projection);

    /**
     * 获取${module.dialectName}。
     *
     * @param params     获取参数
     * @param projection 投影
     * @return ${module.dialectName}视图
     */
    ${module.name}VO get(${module.name}Get params, String... projection);

    /**
     * 修改${module.dialectName}（局部修改）。
     *
     * @param params 修改参数
     * @return 受影响行数
     */
    Integer modify(${module.name}Modify params);

    /**
     * 删除${module.dialectName}。
     *
     * @param params 删除参数
     * @return 受影响行数
     */
    Integer delete(${module.name}Delete params);

}
