spring:
  profiles:
    group:
      default: dev
      dev: common,log-console,db,db-mem
      prod: common,log-file,db,db-mysql

---
spring.config.activate.on-profile: common

server:
  port: 8080

spring:
  application:
    name: ${repository.name}

management:
  endpoints:
    web:
      exposure:
        include: "*"
      cors:
        allowed-origins: "*"
        allowed-methods: "*"
  metrics:
    tags:
      application: ${spring.application.name}

---
spring.config.activate.on-profile: log-console

logging:
  level:
    root: info
    org.springframework: debug
    com.github.peacetrue: trace

---
spring.config.activate.on-profile: log-file

logging:
  level:
    root: warn
    jdbc: off
  file:
    name: logs/${spring.application.name}.log
  logback:
    rollingpolicy:
      max-history: 30

server:
  tomcat:
    accesslog:
      enabled: true
    basedir: tomcat

---
spring.config.activate.on-profile: db

db:
  host: localhost
  schema: ${spring.application.name}
  username: root
  password: 1qw2!QW@

spring:
  r2dbc:
    username: ${db.username}
    password: ${db.password}
    pool:
      enabled: true
  flyway:
    user: ${db.username}
    password: ${db.password}
    create-schemas: true
    schemas: ${db.schema}
    default-schema: ${db.schema}

---
spring.config.activate.on-profile: db-mem

spring:
  r2dbc:
    url: r2dbc:h2:mem:///${db.schema};DB_CLOSE_ON_EXIT=FALSE;MODE=MySQL;DATABASE_TO_LOWER=TRUE

---
spring.config.activate.on-profile: db-mysql

spring:
  r2dbc:
    url: r2dbc:mysql://${db.host}:3306/${db.schema}?autoreconnect=true&useUnicode=true&characterEncoding=utf-8&useSSL=false&allowPublicKeyRetrieval=true
  flyway:
    url: jdbc:mysql://${db.host}:3306?autoreconnect=true&useUnicode=true&characterEncoding=utf-8&useSSL=false&allowPublicKeyRetrieval=true

---
spring.config.activate.on-profile: dev

---
spring.config.activate.on-profile: prod



