package ${module.packageName};

import lombok.*;
import lombok.experimental.Accessors;

import java.io.Serializable;
import java.util.List;
import java.util.Collections;
import javax.validation.constraints.NotNull;
import javax.validation.constraints.Size;

/**
 * ${module.dialectName}删除参数。
 *
 * @author peace
 */
@Getter
@Setter
@ToString
@Accessors(chain = true)
@NoArgsConstructor
@AllArgsConstructor
public class ${module.name}Delete implements Serializable {

    /** ${module.id.comment} */
    @NotNull
    @Size(min=1)
    private List<${module.id.type.name}> ${module.id.name};

    /**
     * 使用 id 构造集合。
     * @param ${module.id.name} 唯一标志
     */
    public ${module.name}Delete(${module.id.type.name} ${module.id.name}) {
        this.${module.id.name} = Collections.singletonList(${module.id.name});
    }
}
