plugins {
    id "com.github.peacetrue.gradle.build-convention" version "${esc.d}{peaceGradleVersion}${esc.d}{tailSnapshot}" apply false
}

group "${repository.group}"
version "${esc.d}{${lh.lc(${repository.name})}Version}${esc.d}{tailSnapshot}"
description "${repository.title}"

apply plugin: "com.github.peacetrue.gradle.build-convention"
