plugins {
    id "io.github.peacetrue.build-convention" version "${esc.d}{peaceGradleVersion}${esc.d}{tailSnapshot}"
}

group "${repository.group}"
version "${esc.d}{${lh.lc(${repository.name})}Version}${esc.d}{tailSnapshot}"
description "${repository.title}"
