package ${repository.group};

import org.junit.jupiter.api.Assertions;
import org.junit.jupiter.api.Test;
import org.junit.jupiter.api.extension.ExtendWith;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.boot.test.context.SpringBootTest;
import org.springframework.test.context.junit.jupiter.SpringExtension;

/**
 * 测试${repository.title}应用。
 *
 * @author peace
 **/
@ExtendWith(SpringExtension.class)
@SpringBootTest
class $lh.uc(${repository.name})ApplicationTest {

    @Autowired
    private $lh.uc(${repository.name})Application $lh.lc(${repository.name})Application;

    @Test
    void basic() {
        Assertions.assertNotNull($lh.lc(${repository.name})Application);
    }
}
