package ${repository.group};

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.data.jpa.repository.JpaSpecificationExecutor;

/**
 * ${module.dialectName}资源库。
 *
 * @author peace
 **/
public interface ${module.name}Repository extends JpaRepository<${module.name}, Long>, JpaSpecificationExecutor<${module.name}> {

}
