package ${repository.group};

import com.github.peacetrue.beans.properties.id.Id;
import lombok.Data;

import java.io.Serializable;
import java.util.Date;

#listImport(${module.properties})

/**
 * ${module.dialectName}视图。
 *
 * @author peace
 */
@Data
public class ${module.name}VO implements Serializable, Id<$module.id.type.simpleName> {

    #listProperties(${module.properties})
}
