package ${repository.group};

import com.github.peacetrue.beans.properties.creatorid.CreatorId;
import com.github.peacetrue.beans.properties.id.Id;
import com.github.peacetrue.beans.operator.OperatorImpl;
import lombok.*;

import javax.validation.constraints.Min;
import javax.validation.constraints.NotNull;

/**
 * ${module.dialectName}删除参数。
 *
 * @author peace
 */
@Getter
@Setter
@ToString(callSuper = true)
@NoArgsConstructor
@AllArgsConstructor
public class ${module.name}Delete implements Id<$module.id.type.simpleName>, CreatorId<$module.creatorId.type.simpleName> {

    @NotNull
    @Min(1)
    private ${module.id.type.simpleName} ${module.id.name};
    @Min(1)
    private $module.creatorId.type.simpleName ${module.creatorId.name};

    public ${module.name}Delete($module.id.type.simpleName id) {
        this.id = id;
    }

}
